
/* =====
    STYLING GOES HERE
===== */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    color: #333;
    font-weight: 400;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.col-md {
    float: left;
    margin-right: 5%;
    width: calc((100% - 10%) / 2);
}
a {
    text-decoration: none;
    color: #4CAF50;
    margin-left: 1rem;
}
.header {
    height: 100vh;
}
.header .row {
    width: 106rem;
    margin: 0 auto;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #f4fcff;
    overflow: auto;
    height: 15vh;
    padding-right: 5rem;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #333;
    padding: 3rem 2rem;
    font-size: 1.7rem;
  }
  .topnav a:hover {
      padding-bottom: 1.5rem;
    border-bottom: 1px solid #000;
  }

/* ==== content of the page === */
img {
    max-width: 100%;
    height: auto;
}
.myicon {
    padding-left: 8rem;
    margin-top: 3rem;
    width: 100%;
}
.content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
}
.content h1 {
    font-size: 8rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2; 
}
.content p{
    padding-top: 1rem;
    line-height: 1.5;
}
/* ==== End of header page === */

.wrapper-body {
    background-color: #f4fcff;
    margin-top: 5vh;
    padding-bottom: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                    'Trebuchet MS', sans-serif;
}
.row {
    width: 106rem;
    margin: 0 auto;
}

/* ==== first part of the contentpage === */
.biodata {
    margin: 2rem 0 1rem;
}
.user-biodata {
   padding: .85rem;
   padding-left: 0;
}
span {
    font-weight: 500;
    width: 40%;
    display: inline-block;
}
.fa-star {
    color: #4CAF50;
    width: 2.5rem;
}
small {
    font-size: 1.6rem;
}
/* ==== second part of the contentpage === */
.aboutinfo {
    margin: 2rem;
    text-align: left;
    padding-left: .5rem;
}
.wrapper-body h1 {
    text-align: left;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 1rem;
}
.aboutinfo p {
    padding: 1rem;
    padding-left: 0;
    font-size: 1.85rem;
    line-height: 1.5;
}

/* ==== Third part of the contentpage === */

.myProgress {
    width: 100%;
    background-color: #f4fcff;
    margin: 1rem 0;
    color: #fff;
}
.myBar {
    padding: .5rem 2rem;
    width: 90%;
    height: 3rem;
    background-color: #4CAF50;
}
.myBar2 {
    padding: .5rem 2rem;
    width: 70%;
    height: 3rem;
    background-color: #4CAF50;
}
.myBar3 {
    padding: .5rem 2rem;
    width: 50%;
    height: 3rem;
    background-color: #4CAF50;
}
.hobbies p {
    line-height: 1.3;
}
.expertise {
    margin-left: 2rem;
}

.hobbies,
.expertise {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.hobbies h2,
.expertise h2 {
    padding-bottom: 1rem;
    font-weight: 200;
}

/* ==== contact page === */
.wrapper-contact {
    background-color: #f4fcff;
}
.wrapper-contact .row {
    width: 106rem;
    margin: 10rem auto;
}
/* ==== message box page === */
.helpinfo {
    padding: 4rem;
}
.contact-section {
    padding: 2rem 0;
}
.helpinfo h1 {
    font-weight: 400;
    padding-bottom: 1rem;
}
.helpinfo h2 {
    margin-top: 1rem;
    padding-bottom: 1rem;
}
.helpinfo p {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    line-height: 1.5;
    text-align: justify;
}
.connect {
    margin-bottom: 2.5rem;
}
/* input styling for box display */

input[type=text],
textarea{
    width: 100%;
    padding: 1.2rem;
    border: 1px solid #777;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
input::placeholder,
textarea::placeholder {
    opacity: .7;
}
textarea {
    height: 11rem;
    font-size: 2rem;
}

/* Style the label to display next to the inputs */
label {
padding: 1.2rem;
padding-left: 0;
display: block;
}

/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 1.2rem 4rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* ===== footer page ===== */
.footer-content {
    padding-bottom: 2rem;
    text-align: center;
}
.social {
    padding: 2rem 0;
    font-size: 3rem;
    color: #333;
}

/* media queries for screen sizes */

@media screen and (max-width: 600px) {
    .container {
        max-width: 600px;
        overflow: hidden;
    }
    .row {
        width: 100%;
    }
    .header .col-md {
        width: 50%;
    }
    .topnav {
        display: none;
    }
    .myicon {
        padding: 0;
        margin: 4rem 4.5rem 0;
    }
    .content {
      width: 80%;   
    }
    .content h1{
        padding-left: 2rem;
        font-size: 5rem;
        text-align: center;     
    }
    .content p {
        padding-left: 2rem;  
        text-align: center;   
        font-size: 1.3rem; 
    }
    strong {
        padding-left: 17rem;
        font-size: 1.3rem;
    }
    .biodata span,
    .biodata small {
        font-size: 1.35rem;
        padding-bottom: 0;
    }
    .aboutinfo h1,
    .biodata h1 {
        font-size: 2.5rem;
    }
    .myProgress {
        font-size: 1.3rem;
    }
    .aboutinfo p {
        font-size: 1.5rem;
        text-align: justify;
    }
    .hobbies p {
        font-size: 1.4rem;
        text-align: justify;
    }
    .wrapper-body .col-md {
        width: 50%;
    }
    .biodata {
        margin-left: 1.5rem;
    }
    .wrapper-contact .col-md,
    .wrapper-body .col-md {
        width: 100%;
    }
    .wrapper-body .aboutinfo,
    .wrapper-body .biodata {
        padding-left: 2rem;
    }
    .wrapper-contact .row {
        margin: 3rem 0;
    }
    .helpinfo {
        width: 50%;
        margin-left: 0;
    }
    .helpinfo:first-child p {
        font-size: 1.5rem;
    }
    .helpinfo:last-child p {
        font-size: 1.5rem;
        width: 420px; 
    }
    .connect {
        margin-bottom: 0;
    }
    .contact-section {
        width: 40%;
        margin-left: 2.5rem;
    }
    input[type=submit] {
        margin-left: 2.5rem;   
    }
    .footer {
        font-size: 1.2rem;
    }

}



