
/* =====
    STYLING GOES HERE
===== */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    color: #333;
    font-weight: 400;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
}

.container {
    position: relative;
}

.header {
    height: 35vh;
    background-image: url(img/image.webp);
    background-size: 100% 45rem;
}
/* ==== End of header page === */
.img-rounded img {
    width: 100%; 
    border-radius: 50%; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, .8);
    padding: .5rem;
}
.img-rounded { 
    width: 17%;
    margin-left: 10rem;
    margin-top: -12vh;
}
.content {
    width: 30%;
    position: absolute;
    left: 27%;
    top: 22%;
}
h1 {
   margin-bottom: .5rem; 
}
em {
    display: block;
    color: dodgerblue;
}
.icon {
    color: dodgerblue;
    width: 2.5rem;
}
.track {
    display: block;
    font-weight: 700;
    margin-top: 1rem;
    text-transform: uppercase;
}
    /* ==== content of the page === */
.wrapper-body {
    background-color: #f4fcff;
    margin-top: 15vh;
    padding-bottom: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                    'Trebuchet MS', sans-serif;
}
.wrapper,
.contact {
    width: 104rem;
    margin: 0 auto;
}
/* ==== first part of the contentpage === */
.biodata1 {
    width: 20%;
    height: min-content;
    margin-top: 2rem;
    margin-right: 3%;
    padding: 1rem;
}
.user-biodata .fa {
    margin-bottom: 1.5rem;
}
h2 {
    padding-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 500;   
}
.fa-star {
    color: #ffd700;
    width: 2.5rem;
}
small {
    font-size: 1.4rem;
}
/* ==== second part of the contentpage === */
.biodata2 {
    width: 60%;
}
.aboutinfo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 1rem 2rem;
}
.biodata2 h2 {
    padding-top: 1rem;
}
.about-me {
    font-family: initial;
    line-height: 1.5;
    text-align: justify;
}
.hobbies {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* ==== Third part of the contentpage === */
.expertise {
    padding: 2rem;
}
.expertise .heading {
    padding-left: .7rem;
}
.expertise small {
    display: inline-block;
    width: 20%;
    margin-bottom: .5rem;
}
/* ==== contact page === */
.wrapper-contact {
    margin-top: 10vh; 
}
/* ==== message box page === */

.side {
    margin-left: 5%;
    width: 40%;
    height: 55vh;
}
.side img {
    width: 100%;
    height: 55vh;
}
.contact-form {
    width: 40%;
    margin-right: 10%;
    padding: 3rem 1rem 0;
}
.contact-form h2 {
    font-weight: 700;
    padding: 0;
}
.input-container {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.formicon {
    color: dodgerblue;
    display: block;
}
input::placeholder{
    opacity: .7;
}
input[type=text],
input[type=text] {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: .5rem;
    outline: none;
    border: 0;
    border-bottom: 1px solid dodgerblue;
    resize: vertical;   
}

.btn {
    margin-top: 1rem;
    color: dodgerblue;
    padding: 1.5rem;
    border: 1px solid dodgerblue;
    background: transparent;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.btn:hover {
    opacity: .8;
    color: white;
    background: dodgerblue;
}

/* ===== footer page ===== */
.footer {
    margin-top: 12vh;
    background-color: dodgerblue;
    height: 20rem;
    color: #efefef;
}
.footer-content {
    padding-top: 5rem;
    text-align: center;
}
.footer-content p {
    padding-left: 1.5rem;
}
.fa-phone {
    padding-right: 1rem;
    color: #efefef;
}
.social {
    padding: 2rem;
    font-size: 3rem;
    width: fit-content;
    text-decoration: none;
    border-radius: 50%;
    color: #efefef;
  }



/*
==== media queries ===== 
  @media screen and (max-width: 600px) {

    .column, .content {
      width: 100%;
      display: block;
    }
    
    .side {
        max-width: 56rem; 
        margin: 0;
    }
    .wrapper {
        max-width: 56rem; 
        margin-left: 2.5rem;
    }
    .content {
        margin-top: -5rem;
        margin-left: 13rem;
    }
    input[type=text], input[type=submit] {
        width: 45%;
        display: block;
    }

    .img-rounded {
        width: 30%;
    }
    .wrapper-body {
        margin-top: 3vh;
    }
    h2, h1 {
        font-size: 1.8rem;
    }
    .track {
        font-size: 1rem;
    }
    .footer {
        width: 100%;
        margin: 8rem auto 0;
        height: 13rem;
    }
    .footer-content {
        padding-top: 2rem;
    }

  }

 */




